<div class="container">
    <div class="row pt-22">
        <div class='col-lg-12 col-md-12 header'>
            <span routerLink="/login">
                <i class="glyphicon glyphicon-user"></i> Log In
            </span>
            <span routerLink="/signup"> Sign Up</span>
            <span class="glyphicon glyphicon-shopping-cart"></span>
        </div>
    </div>

    <div class="row pt-10">
        <div class='col-lg-12  col-md-12 br-bt'></div>
    </div>

    <div class="row pt-10">
        <div class='col-lg-3 col-md-3 RoyalFragrance'>
            <span>ROYAL FRAGRANCES</span>
        </div>
        <div class=" col-lg-9 col-md-9 btn-group">
            <button type="button" class="btn">Home</button>
            <button type="button" class="btn">Blog</button>
            <button type="button" class="btn">Shop</button>
            <button type="button" class="btn">Book Online</button>
            <button type="button" class="btn">Forum</button>
            <button type="button" class="btn">Members</button>
            <button type="button" class="btn">More</button>
        </div>
    </div>
    <div class='slideshow'>
        <slideshow [autoPlay]="true" [imageUrls]="imageUrls" [height]="height" [arrowSize]="arrowSize"
            [autoPlay]="autoPlay" [showDots]="true" [showCaptions]="false"></slideshow>
    </div>

    <div>
        <h3 class="about">About</h3>
        <p>
            We founded ROYAL FRAGRANCES with one goal in mind: providing a high-quality, smart, and reliable online
            store. Our passion for excellence has driven us from the beginning, and continues to drive us into the
            future. We know that every product counts, and strive to make the entire shopping experience as rewarding as
            possible. Check it out for yourself!
        </p>
    </div>
    <div>
        <h3 class='gT'>Get in Touch</h3>
        <span>14, Ground Floor, Uniqcon Plaza, Kamaraj Salai, Karaikal</span>
        <br>
        <span>Email:</span>royalfragranceskkl@gmail.com
    </div>
    <h3 class="about">Enter Your details to get Updates</h3>
    <div class='newArrivals'>
        <br />
        <form #userdetails="ngForm" (ngSubmit)="onClickSubmit(userdetails.value)">
            <input class='nAInput' type="email" name="emailid" placeholder="Enter Name" ngModel>
            <br />

            <input class='nAInput' type="text" name="username" placeholder="Enter Email id" ngModel>
            <br />

            <input class = 'submit'type="submit" value="submit">
        </form>
    </div>
</div>